.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form__group-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__label-item {
  font-size: 50px;
  font-weight: bold;
  color: #000;
}

.form__label--required {
  display: inline-block;
  margin-left: 5px;
  padding: 4px 6px;
  color: #ff0000;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
}

.form__input--text input {
  padding: 10px;
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 3px;

  appearance: none;
}

.form__input--textarea textarea {
  padding: 10px;
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 50px;

  appearance: none;
}

.form__input--text input {
  height: 40px;
}

.form__input--textarea textarea {
  height: 180px;
}

.form__input--text-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form__input--text-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fullname {
  text-align: left;
  width: 300px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.form__input--radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio {
  text-align: left;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  margin: 0, auto;
}

.label__male {
  margin-left: 10px;
  margin-right: 20px;
}

.label__female {
  margin-left: 10px;
}

.form__example {
  color: #a9a9a9;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.form__button-submit {
  padding: 10px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}