.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 2000px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
  margin-top: 15px;
}

.form__group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px, 20px, 15px, 20px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.form__group-title {
  margin-right: 30px;
}

.form__label-item {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  font-weight: bold;
  color: #000;
}

.form__input--text input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;

  appearance: none;
}

.form__input--text input {
  height: 40px;
}

.form__example {
  color: #a9a9a9;
}

.fullname {
  text-align: left;
  width: 300px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.form__input--radio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 0 0 42px;
}

.gender,
.gender:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
}

.gender {
  left: 15px;
  margin-top: -10px;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0, auto;
}

.gender:before {
  left: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.label__all {
  margin-left: 10px;
}

.label__male {
  margin-left: 10px;
  margin-right: 20px;
}

.label__female {
  margin-left: 10px;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.form__button-submit {
  padding: 10px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.form__return {
  margin: 0 auto;
}

.return {
  font-size: 15px;
  text-align: center;
  color: #000;
}

.form__database-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.pagination {
  display: flex;
  display: inline;
  justify-content: center;
  align-items: center;
}

a {
  display: inline-block;
  padding: .5rem .7rem;
  background-color: #eee;
  text-decoration: none;
  color: #000;
  width: 20px;
  height: 20px;

  &:hover,
  &:focus {
    background-color: #ddd;
  }
}

.pagination__prev {
  &::before {
    content: '<';
  }
}

.pagination__next {
  &::before {
    content: '>';
  }
}

.pagination__items {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  counter-reset: pagination;
  margin: 0 1px;
}

li {
  position: absolute;
  top: -100vh;
  counter-increment: pagination;
  margin: 0 1px;

  &:first-child,
  &:last-child {
    position: static;
  }

  &.is-active {
    position: static;

    &:not(:nth-child(1)):not(nth-child(2)) {
      &::before {
        content: '...';
        display: inline-block;
        padding: .5rem .7rem;
        background-color: #eee;
        margin-right: 2px;
      }
    }

    &+li,
    &+li+li {
      position: static;
    }

    &+li+li:not(:last-child):not(nth-last-child(2)) {
      &::after {
        content: '...';
        display: inline_block;
        padding: .5rem .7rem;
        background-color: #eee;
        margin-left: 2px;
      }
    }
  }
}

a {
  &::before {
    content: counter(pagination);
  }
}

.is-active a {
  background-color: #000;
  color: white;
}

.form__database-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin-right: 15px;
}

.form__database-content {
  width: 100%;
}

.form__database-content-p {
  text-align: left;
  font-size: 13px;
}

.option:hover {
  font-size: 15px;
  color: #000;
}

.delete-form__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.delete-form__button-submit {
  padding: 10px;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.option__alert-messege {
  font-size: 15px;
  color: #ff0000;
}