.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 2000px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
}

.form__group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px, 20px, 15px, 20px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.form__group-title {
  margin-right: 30px;
}

.form__label-item {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  font-weight: bold;
  color: #000;
}

.form__input--text input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;

  appearance: none;
}

.form__input--text input {
  height: 40px;
}

.form__example {
  color: #a9a9a9;
}

.fullname {
  text-align: left;
  width: 300px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.form__input--radio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 0 0 42px;
}

.radio,
.radio:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
}

.radio {
  left: 15px;
  margin-top: -10px;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0, auto;
}

.radio:before {
  left: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

input[type=radio]:checked+.radio::before {
  opacity: 1;
}

.label__all {
  margin-left: 10px;
}

.label__male {
  margin-left: 10px;
  margin-right: 20px;
}

.label__female {
  margin-left: 10px;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.form__button-submit {
  padding: 10px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.form__database-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  display: flex;
  width: 20px;
  height: 20px;
}

.form__database-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border_bottom: 1px solid #000;
  padding: 15px;
}

.form__database-content {
  width: 100%;
}

.form__database-content-p {
  text-align: left;
  font-size: 13px;
}

.option:hover {
  font-size: 15px;
  color: #000;
}

.delete-form__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.delete-form__button-submit {
  padding: 10px;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.option__alert-messege {
  font-size: 15px;
  color: #ff0000;
}